<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
	</head>

	<body>
		<div id="side-bar">
                    <div id="side-bar-title">Daily Inspiration</div>
                    <div id="side-bar-img"></div>
                    <div id="side-bar-desc">It takes someone brave to be a mother, someone strong to raise a child, and someone special to love someone more than herself.</div>
        </div>
	</body>
</html>