<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>About Us Page</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>

	<header></header>

    <body>
    	<div id="container">
    		<iframe src="includes/header.html" id="head_iframe"></iframe>
    		<iframe src="includes/sidebar.html" id="sbar_iframe"></iframe>
    		<div id="main-content">
    			<div id="info"><h2>Thank you or stopping by to learn more about us!</h2>
                <p> We are people who:</p>
                <ul>
                    <li>Care about others</li>
                    <li>Hope to make a differnce in the world</li>
                    <li>Understands that life can be hard</li>
                </ul>
                <h2>So for us, this is a blog for personal growth, community and understanding.</h2>
                <img src="images/community.jpg" />
                <h4>*If you got the pictur reference, We hope it made you smile :)</h4>
                </div>
    			<div id="location">ABOUT US</div>
    		</div>
    	</div>
    </body>

	<footer></footer>
</html>