<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>Main Page</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>

	<header></header>

    <body>
    	<div id="container">
    		<iframe src="includes/header.html" id="head_iframe"></iframe>
    		<iframe src="includes/sidebar.html" id="sbar_iframe"></iframe>
    		<div id="main-content">
    			<div id="info">
                    <h2>Welcome to "The sun rises for a better tomorrow"!</h2>
                    <p>Learn more about the site. <br> Listen to relaxing music. <br> View comforting pictures. <br> Hopefully, it will help you reach a peaceful state of mind.</p> <br>
                    <img src="images/sun.jpg" />
                </div>
    			<div id="location">HOME</div>
    		</div>
    	</div>
    </body>

	<footer></footer>
</html>