<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>Music Page</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>

	<header></header>

    <body>
    	<div id="container">
    		<iframe src="includes/header.html" id="head_iframe"></iframe>
    		<iframe src="includes/sidebar.html" id="sbar_iframe"></iframe>
    		<div id="main-content">
    			<div id="info"><h2>Smooth Tunes</h2>
                    <table border="1" id="tab">
                        <tr>
                            <td><audio src="audio/1.mp3" controls></td>
                            <td><audio src="audio/2.mp3" controls></td>
                            <td><audio src="audio/3.mp3" controls></td>
                        </tr>
                        <tr>
                            <td><audio src="audio/4.mp3" controls></td>
                            <td><audio src="audio/5.mp3" controls></td>
                            <td><audio src="audio/6.mp3" controls></td>
                        </tr>
                    </table>
                </div>
    			<div id="location">MUSIC</div>
    		</div>
    	</div>
    </body>

	<footer></footer>
</html>